/* Import Google Fonts: Abril Fatface, Lato and Playfair Display */
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lato:wght@400;700&family=Playfair+Display:wght@700;900&display=swap');


/* || GLOBAL STYLING */
:root {
    /* Set root font size to 10px */
    font-size: 62.5%;

    /* || Fonts */
    --font-head: 'Playfair Display', serif;
    --font-body: 'Lato', sans-serif;
    --font-num: 'Abril Fatface', cursive, serif;

    /* || Font sizes */
    --font-size-lg: 2.2rem;
    --font-size-md: 2.1rem;
    --font-size-sm: 1.8rem;
    --font-size-num: 5rem;

    /* || Font weights */
    --font-weight-black: 900;
    --font-weight-bold: 700;
    --font-weight-reg: 400;

    /* || Line height */
    --line-height-lg: 2;
    --line-height-md: 1.75;
    --line-height-sm: 1.5;
    --line-height-xsm: 1.44;

    /* || Colours */
    --brand-pink: hsl(8, 100%, 94%);
    --brand-coral: hsl(4, 75%, 76%);
    --brand-green: hsl(140, 93%, 12%);
    --brand-mint: hsl(165, 86%, 86%);
    --text-color: hsl(0, 0%, 7%);
    --white: #fffefe;

    /* || Box shadows */
    --shadow-xl: 0px 32px 32px -8px rgba(0, 0, 0, 0.08), 0px 0px 32px -8px rgba(0, 0, 0, 0.12);
    --shadow-lg: 0px 8px 24px -6px rgba(0, 0, 0, 0.16), 0px 0px 1px rgba(0, 0, 0, 0.4);
    --shadow-md: 0px 12px 12px -6px rgba(0, 0, 0, 0.16), 0px 0px 1px rgba(0, 0, 0, 0.4);
    --shadow-sm: 0px 6px 6px -6px rgba(0, 0, 0, 0.16), 0px 0px 1px rgba(0, 0, 0, 0.4);
    
    /* || Sizing */
    --width-xlg: 62rem;
    --width-lg: 51rem;
    --width-md: 40rem;
    --width-sm: 29rem;

    /* || Spacing */
    --spacing-xlg: 16rem;
    --spacing-lg: 12rem;
    --spacing-md: 6rem;
    --spacing-sm: 3rem;
}

* {
    border: none;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-body);
    font-size: var(--font-size-md);
    line-height: var(--line-height-md);
    background: var(--white);
    color: var(--brand-green);
}

/* || LAYOUT */
.inner,
.copyright {
    max-width: 128rem;
    margin: 0 auto;
    padding: 3.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* || TYPOGRAPHY */
h1,
h2,
h3,
h4 {
    font-family: var(--font-head);
    font-weight: var(--font-weight-black);
}

h1 {
    font-size: 6.74rem;
    line-height: var(--line-height-xsm);
}

h2 {
    font-size: 5.05rem;
}

h3 {
    font-size: 3.79rem;
}

h4 {
    font-size: 2.84rem;
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-lg);
}

p {
    max-width: var(--width-lg);
    margin: 3rem 0;
}

blockquote {
    font-style: italic;
}

cite {
    font-size: var(--font-size-sm);
    font-style: normal;
}

address {
    font-style: normal;
}

/* \\ Icons */
i {
    vertical-align: -.2em;
    margin-left: .5rem;
}

.trustpilot i {
    background: #FFBA7D;
    color: var(--white);
    padding: 4px;
    border-radius: 5px;
    margin-left: 0;
    margin-right: 5px;
}

/* || Links and special classes */
a {
    color: var(--brand-green);
    text-decoration: none;
}

a:hover,
a:active,
.h1--underline,
.nav__item--active {
    display: inline;
    background-image: linear-gradient(90deg, var(--brand-pink), var(--brand-pink));
    background-repeat: no-repeat;
    background-size: 100% 12px;
    background-position: 0% 110%;
}

.button {
    padding: 1.4rem 3rem 1.6rem;
    border-radius: 15px;
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-bold);
    background: var(--brand-coral);
    cursor: pointer;
    transition: all .5s ease-out;
    color: var(--white);
}

.button:hover {
    background: var(--brand-green);
    box-shadow: var(--shadow-md);
}

.trustpilot a:hover {
    background: none;
}

.text--sm {
    font-size: var(--font-size-sm);
    line-height: var(--line-height-sm);
}

.text--lg {
    font-size: var(--font-size-lg);
}

.text--bold {
    font-weight: var(--font-weight-bold);
}

.text--number {
    font-family: var(--font-num);
}

.text--phone {
    font-family: var(--font-num);
    font-size: 3rem;
}

.text--price {
    font-family: var(--font-num);
    font-size: var(--font-size-num);
}

.h1--underline {
    background-position: 0% 85%;
}

/* || IMAGES */
.avatar {
    border-radius: 50%;
    box-shadow: var(--shadow-sm);
    margin-right: var(--spacing-sm);
}

.img--xlg {
    border-radius: 15px;
    box-shadow: var(--shadow-md);
}

.img--lg {
    border-radius: 15px;
    box-shadow: var(--shadow-xl);
}

.break {
    width: 100%;
}

.break:after {
    content: "";
    display: block;
    width: 70px;
    height: 2px;
    background: var(--text-color);
}

/* || HEADER */
header,
.hero {
    background: linear-gradient(90deg, var(--white) 0%, var(--white) 60%, var(--brand-mint) 60%, var(--brand-mint) 100%);
    width: 100%;
}

#logo {
    font-size: 3.2rem;
    font-weight: var(--font-weight-bold);
}

#logo a:hover {
    background-position: 0% 90%;
}

nav {
    width: 45%;
}

.nav {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__item--active {
    background-position: 0% 82%;
}

/* || HERO */
.hero {
    padding-bottom: var(--spacing-xlg);
}

.hero__left,
.hero__right {
    align-self: flex-start;
}

.hero__left {
    width: var(--width-lg);
    padding-top: var(--spacing-md);
}

.hero__cta {
    display: flex;
    justify-content: left;
    align-items: center;
    width: var(--width-md);
    margin-top: var(--spacing-md);
    margin-bottom: var(--spacing-lg);
}

.hero__cta a {
    margin-right: var(--spacing-sm);
}

.hero__right {
    width: 73rem;
    padding-top: var(--spacing-sm);
    display: flex;
    flex-direction: column;
}

.hero__right .img--xlg {
    align-self: flex-end;
}

.hero__right blockquote {
    max-width: var(--width-lg);
    margin-top: -5rem;
    display: flex;
    background: var(--white);
    border-radius: 15px;
    z-index: 1;
    box-shadow: var(--shadow-lg);
    padding: var(--spacing-sm);
}

.hero__right blockquote p {
    margin: 0;
}

/* || FEATURES/PERKS */
.features {
    margin-top: -30px;
    background: var(--brand-pink);
    color: var(--text-color);
    padding-top: var(--spacing-lg);
    padding-bottom: var(--spacing-lg);
    border-radius: 15px;
    box-shadow: var(--shadow-md);
}

.perks {
    margin-bottom: var(--spacing-sm);
    list-style-type: none;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.perks__item {
    width: var(--width-sm);
}

/* || TESTIMONIALS */
.testimonials {
    margin-top: -70px;
    width: 100%;
}

.testimonials .inner {
    flex-direction: column;
}

.testimonials blockquote {
    display: flex;
    align-items: center;
}

.testimonials .inner > blockquote:first-child {
    align-self: flex-start;
    margin-bottom: var(--spacing-sm);
}

.testimonials .inner > blockquote:last-child {
    align-self: flex-end;
    flex-direction: row-reverse;
}

.testimonials blockquote p {
    margin: 0 var(--spacing-md);
}

/* || FAQ */
.faq {
    background: var(--brand-mint);
    padding-top: var(--spacing-xlg);
    margin-top: -60px;
    border-radius: 15px;
    box-shadow: var(--shadow-md);
    padding-bottom: var(--spacing-lg);
}

.faq .inner {
    align-items: flex-start;
    justify-content: flex-start;
}

.faq__title {
    width: var(--width-md);
    margin-right: var(--spacing-md);
}

.faq__title h1 {
    margin-bottom: var(--spacing-sm);
}

.faq__list {
    width: var(--width-xlg);
    display: flex;
    flex-direction: column;
}

.faq__item {
    background: var(--white);
    margin-bottom: var(--spacing-sm);
    padding: 1.4rem 3rem;
    border-radius: 15px;
}

summary {
    cursor: pointer;
    position: relative;
    padding-left: 50px;
}

details > summary:before {
    position: absolute;
    color: var(--brand-coral);
    content: "+";
    left: 5px;
}

details[open] > summary:before {
    position: absolute;
    color: var(--brand-coral);
    content: "-";
    left: 5px;
}

details > summary {
    list-style-type: none;
}

/* || CALL TO ACTION */
.call-to-action {
    background: var(--brand-green);
    color: var(--white);
    padding-top: var(--spacing-lg);
    padding-bottom: var(--spacing-lg);
}

.call-to-action .inner {
    flex-direction: column;
}

.call-to-action .h1--underline {
    background-image: linear-gradient(90deg, var(--brand-coral), var(--brand-coral));
}

/* || FOOTER */
footer {
    background: var(--brand-green);
    color: var(--white);
    line-height: var(--line-height-lg);
}

footer .inner {
    align-items: flex-start;
}

footer a {
    color: var(--white);
}

footer a:hover,
footer a:active {
    background-image: linear-gradient(90deg, var(--brand-coral), var(--brand-coral));
}

.footer__nav {
    list-style-type: none;
}

.social__icons {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.copyright {
    justify-content: flex-end;
}