/* Import Google Fonts: Abril Fatface, Lato and Playfair Display */
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lato:wght@400;700&family=Playfair+Display:wght@700;900&display=swap');


/* || GLOBALS */
:root {
    font-size: 62.5%;
    --header-font: 'Playfair Display', serif;
    --body-font: 'Lato', sans-serif;
    --number-font: 'Abril Fatface', cursive, serif;

    --body-large: 2.2rem;
    --body-standard: 2.1rem;
    --body-small: 1.8rem;
    --number-size: 5rem;

    --line-large: 2;
    --line-standard: 1.75;
    --line-small: 1.5;

    --brand-pink: hsl(8, 100%, 100%);
    --brand-coral: hsl(4, 75%, 76%);
    --brand-green: hsl(140, 93%, 12%);
    --brand-mint: hsl(165, 86%, 86%);
    --text-color: hsl(0, 0%, 7%);
    --white: #fffefe;

    --shadow-sm: 0px 6px 6px -6px rgba(0, 0, 0, 0.16), 0px 0px 1px rgba(0, 0, 0, 0.4);
    --shadow-md: 0px 12px 12px -6px rgba(0, 0, 0, 0.16), 0px 0px 1px rgba(0, 0, 0, 0.4);
    --shadow-lg: 0px 8px 24px -6px rgba(0, 0, 0, 0.16), 0px 0px 1px rgba(0, 0, 0, 0.4);
    --shadow-xl: 0px 32px 32px -8px rgba(0, 0, 0, 0.08), 0px 0px 32px -8px rgba(0, 0, 0, 0.12);
}

* {
    border: none;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--body-font);
    font-size: var(--body-standard);
    line-height: var(--line-standard);
    background: var(--white);
    color: var(--brand-green);
}

/* || LAYOUT */

.inner {
    max-width: 144rem;
    margin: 0 auto;
    padding: 3.5rem;
}

/* || TYPOGRAPHY */
h1,
h2,
h3,
h4 {
    font-family: var(--header-font);
    font-weight: 900;
}

h1 {
    font-size: 6.74rem;
}

h2 {
    font-size: 5.05rem;
}

h3 {
    font-size: 3.79rem;
}

h4 {
    font-size: 2.84rem;
    font-weight: 700;
    line-height: var(--line-large);
}

p {
    max-width: 510px;
    margin: 3rem 0;
}

/* || Links and special classes */

a {
    color: var(--brand-green);
    text-decoration: none;
}

a:hover,
a:active {
    color: var(--brand-coral);
}

.pricing__text {
    line-height: var(--line-small);
    font-size: var(--body-small);
}

.number {
    font-family: var(--number-font);
    font-size: var(--number-size);
}

.button {
    padding: 1.4rem 3rem 1.6rem;
    border-radius: 15px;
    font-size: var(--body-large);
    background: var(--brand-coral);
    color: var(--white);
}

/* || HEADER */

#logo {
    font-size: 3.2rem;
    font-weight: 700;
}