/* Import Google Fonts: Abril Fatface, Lato and Playfair Display */
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lato:wght@400;700&family=Playfair+Display:wght@700;900&display=swap');


/* || GLOBAL STYLING */
:root {
    /* Set root font size to 10px */
    font-size: 62.5%;

    /* || Fonts */
    --font-head: 'Playfair Display', serif;
    --font-body: 'Lato', sans-serif;
    --font-num: 'Abril Fatface', cursive, serif;

    /* || Font sizes */
    --font-size-lg: 2.2rem;
    --font-size-md: 2.1rem;
    --font-size-sm: 1.8rem;
    --font-size-num: 5rem;

    /* || Font weights */
    --font-weight-black: 900;
    --font-weight-bold: 700;
    --font-weight-reg: 400;

    /* || Line height */
    --line-height-lg: 2;
    --line-height-md: 1.75;
    --line-height-sm: 1.5;

    /* || Colours */
    --brand-pink: hsl(8, 100%, 94%);
    --brand-coral: hsl(4, 75%, 76%);
    --brand-green: hsl(140, 93%, 12%);
    --brand-mint: hsl(165, 86%, 86%);
    --text-color: hsl(0, 0%, 7%);
    --white: #fffefe;

    /* || Box shadows */
    --shadow-sm: 0px 6px 6px -6px rgba(0, 0, 0, 0.16), 0px 0px 1px rgba(0, 0, 0, 0.4);
    --shadow-md: 0px 12px 12px -6px rgba(0, 0, 0, 0.16), 0px 0px 1px rgba(0, 0, 0, 0.4);
    --shadow-lg: 0px 8px 24px -6px rgba(0, 0, 0, 0.16), 0px 0px 1px rgba(0, 0, 0, 0.4);
    --shadow-xl: 0px 32px 32px -8px rgba(0, 0, 0, 0.08), 0px 0px 32px -8px rgba(0, 0, 0, 0.12);
}

* {
    border: none;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-body);
    font-size: var(--font-size-md);
    line-height: var(--line-height-md);
    background: var(--white);
    color: var(--brand-green);
}

/* || LAYOUT */

.inner {
    max-width: 144rem;
    margin: 0 auto;
    padding: 3.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* || TYPOGRAPHY */
h1,
h2,
h3,
h4 {
    font-family: var(--font-head);
    font-weight: var(--font-weight-black);
}

h1 {
    font-size: 6.74rem;
}

h2 {
    font-size: 5.05rem;
}

h3 {
    font-size: 3.79rem;
}

h4 {
    font-size: 2.84rem;
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-lg);
}

p {
    max-width: 510px;
    margin: 3rem 0;
}

/* || Links and special classes */

a {
    color: var(--brand-green);
    text-decoration: none;
}

a:hover,
a:active {
    display: inline;
    background-image: linear-gradient(90deg, var(--brand-coral), var(--brand-coral));
    background-repeat: no-repeat;
    background-size: 100% 12px;
    background-position: 0% 110%;
}

.button {
    padding: 1.4rem 3rem 1.6rem;
    border-radius: 15px;
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-bold);
    background: var(--brand-coral);
    cursor: pointer;
    transition: all .5s ease-out;
}

.button:hover {
    background: var(--brand-green);
    box-shadow: var(--shadow-md);
}

.button a {
    color: var(--white);
}

.button a:hover, 
.button a:active {
    background: none;
}

.text--sm {
    font-size: var(--font-size-sm);
    line-height: var(--line-height-sm);
}

.text--lg {
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-bold);
}

.text--number {
    font-family: var(--font-num);
    font-size: var(--font-size-num);
}

/* || HEADER */

header {
    background: linear-gradient(90deg, var(--white) 0%, var(--white) 60%, var(--brand-mint) 60%, var(--brand-mint) 100%);
    width: 100%;
}

#logo {
    font-size: 3.2rem;
    font-weight: var(--font-weight-bold);
}

#logo a:hover {
    background-position: 0% 90%;
}

nav {
    width: 45%;
}

.nav {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}